/* CalendarHeader.module.css */

.headerButton {
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 1.125rem; /* text-lg */
  color: #1f2937; /* text-gray-800 */
  background-color: transparent;
  border: 1px solid transparent;
  text-align: left;
  width: max-content;
  cursor: pointer;
}

.headerButton:hover {
  background-color: rgba(229, 231, 235, 0.3);
  border-color: transparent; /* hover:border-transparent */
}

.monthGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* grid-cols-3 */
  gap: 0.5rem 1rem; /* gap-2 */
  margin-top: 0.5rem; /* mt-2 */
}

.monthButton {
  padding: 0.5rem; /* p-2 */
  border-radius: 0.375rem; /* rounded-md */
  text-transform: uppercase; /* uppercase */
  color: #4b5563; /* text-gray-600 */
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.monthButton:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
}

.selectedMonth {
  background-color: #222; /* bg-red-600 */
  color: white; /* text-white */
}

.selectedMonth:hover {
  background-color: #333; /* hover:bg-red-500 */
}

.currentMonth {
  box-shadow: 0 0 0 2px #555; /* ring-1 ring-red-300 */
}
